.low-usage {
  color: green;
}

.medium-usage {
  color: white;
}

.high-usage {
  color: red;
}

body {
  font-size: 16px; max-width: 600px; margin: 25px auto;
}

section {
  /* position is static by default */
  margin-left: 200px;
}


.fancy {
  background: linear-gradient(grey, black);
  background-color: #242424;
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border: solid grey 10px;
  font-size: 100px;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.button {
    background: linear-gradient(grey, black);   
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.triangle {
  color: #FFFFFF;
  text-shadow: 0 0 0px black;
  font-size: 40px;
}
/* how to put a circle border around temp, how to centre, how to load pics and background.
